
<div class = "bodyp">
<div class = "bodypp">
<p> <h2> Tasks Submitted By This User</h2>
</div>
<% @usr.tasks.each do |task| %>
<ul>
<li class = "user-tasks">
 Name:<%= task.name + '       ' %> <br/>Content:<%= task.content %>
</li>
</ul>
<% end %>
</p>

<%= link_to 'Edit', edit_admin_usr_path(@usr), class:"btn btn-outline-primary" %> |
<%= link_to 'Back', admin_usrs_path, class:"btn btn-outline-primary" %>

</div>
